.admin__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    table {
        margin-top: 30px;

        th {
            text-align: center;
        }

        td {
            text-align: center;
            &.tdImage  {
                display: flex;
                justify-content: space-around;
            }
            .deleteButton {
                color: red;
                padding-left: 10px;
                font-size: 25px;
                cursor: pointer;
            }
        }
        .tableImage {
            width: 50px;
        }
        
    }
}
